<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>TEST1</h1>
<!--  프릭펙스 th:text 문자열  -->
    NAME : <span th:text="${name}" ></span> <hr>
    MEMO : <span th:text="${memo}" ></span> <hr>
    MEMO.ID : <span th:text="${memo.id}" ></span> <hr>
    MEMO.TEXT : <span th:text="${memo.text}" ></span> <hr>
    MEMO.WRITER : <span th:text="${memo.writer}" ></span> <hr>

    <!-- isAuth가 true 상태-->
    <th:block th:if="${isAuth}">
        <div>로그인 상태입니다</div>
    </th:block>
    <!--isAuth가 false 상태-->
    <th:block th:unless="${isAuth}">
        <div>로그아웃 상태입니다</div>
    </th:block>
    <hr/>
    <th:block>
        <div th:each="memo:${memoList}">
            <span th:text="${memo.id}"></span> :
            <span th:text="${memo.text}"></span>
        </div>
    </th:block>
    <hr/>
    <!--<a href="/th/param1">이동하기</a>-->
    <a th:href="@{/th/param1(id=${memo.id},text='aaa',writer='bbb')}">이동하기</a> |
    <a th:href="@{/th/param2/{id}/{text}/{writer}(id=${memo.id},text='aaa',writer='bbb')}">이동하기2</a>

    <script th:inline = "javascript">
        const name = [[ ${name} ]];
        console.log('name',name);

        const memo = [[ ${memo} ]];
        console.log('memo',memo);

        const memoList= [[ ${memoList} ]];
        console.log('memoList',memoList);
    </script>
</body>
</html>